/* Header styles */
.navbar {
  padding: 1rem 0;
  background-color: #232399;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #0d6efd !important;
}

.navbar-nav .nav-link {
  margin-left: 1.5rem;
  font-weight: 500;
  transition: color 0.3s ease;
  color: #ffffff;
}

.navbar-nav .nav-link:hover {
  color: #ffffff !important;
}
.header {
  background: #232399;
  border-bottom: 1px solid #e5e7eb;
}

.header-content {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-sisassistiva {
  height: 53px; /* controla pelo eixo vertical */
  width: auto;
  object-fit: contain;
}

.logo {
  font-weight: 700;
  color: #0b5ed7;
}

.nav {
  display: flex;
  gap: 24px;
}

.nav a {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
}
